/*标签选择器*/
div{
    width: 200px;
    height: 200px;
    background-color: red;
}

/* . 类选择器,通过class类名设置样式*/

.item1{
    width: 200px;
    height: 200px;
    background-color: fuchsia;
}

.item2{
    width: 200px;
    height: 200px;
    background-color: gold;
}

/* #id选择器, 通过 id属性的值来设置元素的样式*/
#box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

#box2{
    width: 200px;
    height: 200px;
    /*设置边框,三个属性都不能少*/
    border: 1px solid red;
}
